/* Events.css */

/* Styles for the outer container with class events-background */
.events-background {
    background-color: black;
    padding: 20px;
  }
  
  /* Styles for the section containing the heading */
  .events-background h1 {
    background-color: black;
    color: #ccc;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  /* Styles for each event article */
  .events-background article {
    background-color: black;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #fff;
  }
  
  /* Styles for the event title within each article */
  .events-background article h2 {
    background-color: black;
    color: #ccc;
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  /* Styles for the event date paragraph within each article */
  .events-background article p {
    background-color: black;
    color: #ccc;
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  /* Styles for the "No upcoming events" message */
  .events-background p {
    background-color: black;
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
  }
  