* {
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    display: flex; /* Using flexbox */
    flex-direction: column; /* Stack children vertically */
    justify-content: center; /* Center content vertically */
    min-height: calc(100vh - 60px); /* Adjust based on the footer's height */
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
    font-weight: bold;
}

p {
    font-size: 1.2em;
    color: #555;
    line-height: 1.6;
}

section {
    margin-top: 50px;
}

h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
    font-weight: bold;
}

iframe {
    max-width: 100%;
    border: none;
}

.mt-5 {
   /*  margin-top: 1rem !important; */
}

.image-section {
    flex-grow: 1; /* Allows this section to grow and fill available space */
    display: flex;
    justify-content: center;
    align-items: center; /* Center the image vertically and horizontally */
}

.image-section img {
    max-height: 80vh; /* You can adjust this value */
    width: auto; /* Maintain aspect ratio */
    border-radius: 10px; /* Optional: for rounded corners */
}

.home-background-image {
    background-image: url('./bg1.png');
    background-size: cover; /* Adjusted to cover */
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw; 
}

/* Larger screens */
@media (min-width: 1024px) {
    .home-background-image {
        background-size: cover;
        background-position: top center;
    }
}

/* Smaller screens */
@media (max-width: 1023px) {
    .home-background-image {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        height: 100vh;
        width: 100vw; 
    }
}
